
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrdemDeServicoLabel">Atender a Ordem De Servico</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ordemDeServico.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ordemDeServico.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.ordemDeServico.nome"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                    ng-model="vm.ordemDeServico.tipo"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_marca">Marca</label>
            <input type="text" class="form-control" name="marca" id="field_marca"
                    ng-model="vm.ordemDeServico.marca"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_problema">Problema</label>
            <input type="text" class="form-control" name="problema" id="field_problema"
                    ng-model="vm.ordemDeServico.problema"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_avaria">Avaria</label>
            <input type="text" class="form-control" name="avaria" id="field_avaria"
                    ng-model="vm.ordemDeServico.avaria"
                    required/>
            <div ng-show="editForm.avaria.$invalid">
                <p class="help-block"
                   ng-show="editForm.avaria.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFoto($file, vm.ordemDeServico)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_foto">Foto</label>
            <div>
                <img data-ng-src="{{'data:' + vm.ordemDeServico.fotoContentType + ';base64,' + vm.ordemDeServico.foto}}" style="max-height: 100px;" ng-if="vm.ordemDeServico.foto" alt="ordemDeServico image"/>
                <div ng-if="vm.ordemDeServico.foto" class="help-block clearfix">
                    <span class="pull-left">{{vm.ordemDeServico.fotoContentType}}, {{vm.byteSize(vm.ordemDeServico.foto)}}</span>
                    <button type="button" ng-click="vm.ordemDeServico.foto=null;vm.ordemDeServico.fotoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFoto($file, vm.ordemDeServico)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="foto" id="field_foto"
                    ng-model="vm.ordemDeServico.foto"
                    />
            <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                    ng-model="vm.ordemDeServico.fotoContentType"
            required/>
            <div ng-show="editForm.avaria.$invalid">
                <p class="help-block"
                   ng-show="editForm.avaria.$error.required">
                    This field is required.
                </p>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.ordemDeServico.status" id="field_status" required>
                <option value="EM_ATENDIMENTO">EM_ATENDIMENTO</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                   ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tecnico">Tecnico</label>
            <input type="text" class="form-control" name="tecnico" id="field_tecnico"
                    ng-model="vm.ordemDeServico.tecnico"
                    required/>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                   ng-show="editForm.status.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group" readonly>
            <label for="field_cliente">Cliente</label>
            <select  class="form-control" id="field_cliente"  disabled="true" name="cliente" ng-model="vm.ordemDeServico.cliente" ng-options="cliente as cliente.nome for cliente in vm.clientes track by cliente.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                ui-sref="ordem-de-servico.fecharOrdem({id:vm.ordemDeServico.id})" class="btn btn-success">
            <span class="glyphicon glyphicon-check"></span>&nbsp;<span>Fechar Ordem</span>
        </button>

        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
